page-home {
    label {
        font-size: 15px;
    }
    input {
        color: gray;
        font-size: 20px;
        text-align: right;
    }

    .input {
        &-dms {
            label {
                font-size: 30px;
            }
        }

        &-direction {
            width: 10%
        }

        &-degrees {
            width: 15%
        }

        &-minutes {
            width: 25%
        }

        &-seconds {
            width: 25%
        }
    }
}
